.app {
  position: fixed;
  // transform: translate(50%, 50%);
  right: 0%;
  bottom: 0%;
  border: 1px solid black;
  width: 30%;
  .toolbar{
    .logo{
      border: 1px solid black;
      width: 50%;
      height: 2vw;
      float: right;
    }
    .toggle-chat {
      border: 1px solid black;
      width: 50%;
      height: 2vw;
      float: left;
    }
  }
}

.hide {
  display: none;
}
